*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
}
.colorText{
    color: darksalmon;
}


.addList{    
    text-decoration: none;
    padding: 0;
    margin: 0;
    font-size: large;
    display: flex;
    justify-content: space-evenly;
}

.card-title{
    width: fit-content;
    font-size: medium;
    color: darkgreen;
}
.card-img-top{
  background-size: contain;
  height: 10em;
}
